<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59618786383-06uqombe6l6uf7p44l18vd8m90hjlhe5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59618786383-06uqombe6l6uf7p44l18vd8m90hjlhe5</string>
	<key>API_KEY</key>
	<string>AIzaSyCirRSDHAg7SuAJEg6CWUTktsoFTSOYIDM</string>
	<key>GCM_SENDER_ID</key>
	<string>59618786383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeartistry.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershareapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershareapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59618786383:ios:57ff9df0a2132af3</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershareapp.firebaseio.com</string>
</dict>
</plist>